/*
 * Copyright (c) 2022 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 50

#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define U_TAPPING_TERM 220

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&mt {
    tapping-term-ms = <U_TAPPING_TERM>;
    quick-tap-ms = <U_TAPPING_TERM>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <U_TAPPING_TERM>;
    quick-tap-ms = <U_TAPPING_TERM>;
    flavor = "tap-preferred";
};

/ {
    behaviors {
        hrm_right: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "Homerow Mods Right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <U_TAPPING_TERM>;
            quick-tap-ms = <U_TAPPING_TERM>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
        };

        hrm_left: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "Homerow Mods Left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <U_TAPPING_TERM>;
            quick-tap-ms = <U_TAPPING_TERM>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
        };

        tapdance_q_esc: tapdance_q_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE_Q_ESC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp ESC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Layer_0 {
            bindings = <
  &kp Q                 &kp W              &kp F                 &kp P              &kp B        &kp J  &kp L               &kp U              &kp Y               &kp BACKSPACE
  &hrm_left LEFT_ALT A  &hrm_left LCTRL R  &hrm_left LEFT_WIN S  &hrm_left LSHFT T  &kp G        &kp M  &hrm_right RSHFT N  &hrm_right RGUI E  &hrm_right LCTRL I  &hrm_right RALT O
  &kp Z                 &kp X              &kp C                 &kp D              &kp V        &kp K  &kp H               &mt MINUS COMMA    &mt EXCL DOT        &mt APOS SLASH
                                                                 &mt TAB ESC        &kp SPACE    &to 1  &kp ENTER
            >;
        };

        Layer_1 {
            bindings = <
  &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp PRCNT  &kp CARET  &kp AMPS  &kp ASTRK
  &none     &none   &none     &none       &kp LEFT_BRACE          &kp RIGHT_BRACE        &none      &none      &none     &none
  &none     &none   &none     &none       &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &none      &none      &none     &none
                              &trans      &to 0                   &to 2                  &trans
            >;
        };

        Layer_2 {
            bindings = <
  &none  &none  &none  &none      &none    &kp DOWN  &kp RIGHT       &mmv MOVE_UP    &none            &none
  &none  &none  &none  &none      &none    &none     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none
  &none  &none  &none  &none      &none    &kp UP    &kp LEFT        &none           &none            &none
                       &mkp RCLK  &mo 0    &to 3     &mkp LCLK
            >;
        };

        Layer_3 {
            bindings = <
  &none        &none   &none   &none   &none     &none   &none   &none   &none   &none
  &kp N1       &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
  &bootloader  &none   &none   &none   &none     &none   &none   &none   &none   &none
                               &none   &to 0     &none   &none
            >;
        };
    };
};
